/* Mobile*/
/*
 Global styles
 */

:root {
  --background: #f8f8f8;
  --foreground: #1a1a1a;
  --muted: #f1f5f9;
  --muted-foreground: #6c6f7d;
  --popover: #ffffff;
  --popover-foreground: #1a1a1a;
  --card: #ffffff;
  --card-foreground: #1a1a1a;
  --border: #e9ecef;
  --input: #e9ecef;
  --primary: #ffa500;
  --primary-foreground: #3c3b0d;
  --secondary: #f1f5f9;
  --secondary-foreground: #3b3b3b;
  --accent: #f1f5f9;
  --accent-foreground: #3b3b3b;
  --destructive: #ff3333;
  --destructive-foreground: #fbfbff;
  --ring: #0077ff;
  --radius: 1rem;

  --gradient: linear-gradient(45deg, #ffa500, #ff6347);

  --shadow: rgba(255, 165, 0, 0.1) 0px 0px 0px 1px;
  --shadow-hover: rgba(255, 165, 0, 0.05) 0px 50px 100px -20px, rgba(255, 165, 0, 0.12) 0px 30px 60px -30px;

  --shaodw-btn: 0 0 0 1px rgba(0, 0, 0, 0.1);
  --shadow-btn-hover: 0 0 0 2px var(--primary);

  --timeing: cubic-bezier(.5, -.75, .7, 2);
  --transition: all 0.2s linear;

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 4rem;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 90%;
}

body {
  font-family: "Mulish", serif;
  font-optical-sizing: auto;
  background-color: var(--background);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 40px;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 40px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 40px;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 28px;
}

p {
  font-weight: 400;
  line-height: 1.5;
}

ul {
  list-style: none;
}


a {
  text-decoration: none;
  color: var(--foreground);
  font-weight: 700;
  position: relative;
}

.inline-link {

  &::before {
    content: '';
    background-color: var(--primary);
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: var(--transition);
  }

  &:hover::before {
    width: 0;
    left: unset;
    right: 0;
  }
}

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
}

section {
  padding: var(--space-xl) var(--space-lg);
  background-color: var(--card);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  margin-bottom: var(--space-lg);
  transition: var(--transition);

  &:hover {
    box-shadow: var(--shadow-hover);
    scale: 1.02;
  }

  .title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: var(--space-md);

    h3 {
      background: var(--gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    }
  }
}

section:nth-child(1) {
  animation: section-fade-in 0.5s var(--timeing);
}

section:nth-child(2) {
  animation: section-fade-in 0.7s var(--timeing);
}

section:nth-child(3) {
  animation: section-fade-in 0.9s var(--timeing);
}

section:nth-child(4) {
  animation: section-fade-in 1.1s var(--timeing);
}

.badge-container {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .badge {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: var(--radius);
    background-color: var(--background);
    border: 1px solid var(--primary);
    color: var(--primary-foreground);
    font-size: var(--font-size-xs);
    font-weight: 600;
    transition: var(--transition);

    &:hover {
      background-color: var(--primary);
      color: var(--background)
    }
  }
}


.text-with-icon {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: var(--space-xs);

  p {
    margin: 0;
    color: var(--muted-foreground);
    font-size: var(--font-size-sm);
  }
}

.organisation-infos {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: var(--space-md);
}


.logo {
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: var(--radius);
  border: 2px solid var(--border);

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.section-with-memoji {
  background-repeat: no-repeat;
  background-position-y: 105%;
  background-position-x: right;
  background-size: 150px;
  padding-bottom: 140px;

  &:hover {
    background-position-y: 103%;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  margin-block: var(--space-md);
  max-width: 42rem;
  color: var(--card-foreground);

  li {
    padding-left: 1rem;

    &:before {
      content: '•';
      color: var(--primary);
      margin-right: 0.5rem;
    }
  }
}


.btn {
  border-radius: var(--radius);
  padding: var(--space-sm) var(--space-md);
  font-weight: 600;
  transition: var(--transition);
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: fit-content;

  &.primary {
    background-color: var(--primary);
    color: var(--primary-foreground);
    background-image: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    background-size: 200%;
    animation: shine 3s infinite linear;
  }
}

/*
Animation
*/

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes section-fade-in {
  0% {
    opacity: 0;
    transform: translateY(10%) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes shine {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

/*
 Header
*/

.header {
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-xl) var(--space-md);
  margin-block: var(--space-lg);
  transition: var(--transition);
  backdrop-filter: blur(200px);
  background-image: radial-gradient(closest-side at center, rgba(255, 165, 0, 0.16), var(--background));

  .profile-img {
    max-width: min(100%, 200px);
    border-radius: 50%;

    img {
      width: 100%;
      border-radius: 50%;
      box-shadow: 0 0 0 4px var(--primary);

      &:hover {
        animation: heartbeat 1s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }

  h1 {
    font-weight: 900;
    margin-block: var(--space-sm);
    position: relative;
    display: inline-block;
    opacity: 1;
    transform: perspective(1000px) translate3d(0px, 0px, 0px);
  }


}

p {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--muted-foreground);
  margin-bottom: var(--space-md);
}

.social-links {
  display: flex;
  gap: 1.5rem;

  a {
    width: 3.2rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    box-shadow: var(--shaodw-btn);
    transition: var(--transition);
    border-radius: var(--radius);

    &:hover {
      box-shadow: var(--shadow-btn-hover);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

nav > ul {
  display: flex;
  gap: 1.5rem;
  margin-top: var(--space-md);

  li {
    a {
      color: var(--foreground);
      font-weight: 600;
      transition: var(--transition);

      &:hover {
        color: var(--primary);
      }
    }
  }
}


/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--space-lg);


  a {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    p {
      margin: 0;
    }
  }

}


/*
  Home Page
*/

.about-me-page {

  /* Sections */

  .about-me {
    background-image: url("/assets/images/aram-memoji-2.png");

    .content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: var(--space-md);
      color: var(--foreground);
    }
  }

  .programming-skills {
    background-image: url("/assets/images/aram-memoji-6.png");
  }


  .languages {
    background-image: url("/assets/images/aram-memoji-8.png");

  }

  .soft-skills {
    background-image: url("/assets/images/aram-memoji-4.png");
  }
}

/*
  Projects Page
*/
.projects-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: var(--space-lg);


  .project {
    padding: 0;
    overflow: hidden;

    .project-img {
      height: 300px;
      overflow: hidden;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: var(--transition);
      }
    }

    .content {
      padding: var(--space-md);

      h4 {
        margin-bottom: var(--space-sm);
      }

      .btn.primary {
        margin-top: var(--space-xl);
        margin-left: auto !important;
      }
    }
  }
}

/* Tablet*/
/*  768px */
@media (min-width: 48em) {
  html {
    font-size: 95%;
  }

  .container {
    padding-inline: 4rem;
  }
}


/* Desktop*/
/* 992px */
@media (min-width: 62em) {
  html {
    font-size: 100%;
  }

  .container {
    max-width: 1500px;
  }

  .skills {
    display: grid;
    gap: var(--space-lg);
    grid-template-columns: 1fr 1fr 1fr;

  }
}
